@model Livraria.Models.Emprestimo

@{
    ViewData["Title"] = "Detalhes do Empréstimo";
}

<h1>Detalhes do Empréstimo</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Livro</h5>
        <p class="card-text">
            <strong>Título:</strong> @Model.Livro?.Titulo <br />
            <strong>Autor:</strong> @Model.Livro?.Autor <br />
            <strong>ISBN:</strong> @Model.Livro?.ISBN
        </p>

        <h5 class="card-title">Funcionário</h5>
        <p class="card-text">
            <strong>Nome:</strong> @Model.Funcionario?.Nome <br />
            
        </p>

        <h5 class="card-title">Cliente</h5>
        <p class="card-text">
            <strong>Nome:</strong> @Model.Cliente?.Nome <br />
            <strong>CPF:</strong> @Model.Cliente?.CPF <br />
            <strong>Contato:</strong> @Model.Cliente?.NumeroContato <br />
            <strong>Email:</strong> @Model.Cliente?.Email
        </p>

        <h5 class="card-title">Datas</h5>
        <p class="card-text">
            <strong>Data de Empréstimo:</strong> @Model.DataEmprestimo.ToShortDateString() <br />
            <strong>Data Prevista de Devolução:</strong> @Model.DataPrevistaDevolucao.ToShortDateString() <br />
            <strong>Data de Devolução:</strong> @(Model.DataDevolucao.HasValue? Model.DataDevolucao.Value.ToShortDateString() : "Ainda não devolvido")
        </p>

        <h5 class="card-title">Status</h5>
        <p class="card-text">
            @Model.Status
        </p>

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</div>
